extends layout

block content
  section.step
    h3.step-title 1. Login to your account to select a form
    .step-content.padded
      p.step-description Your Typeform email address will be stored to identify you, but in encrypted form, so it cannot be read or used for marketing purposes
      button.btn.js-authenticate-btn Connect with Typeform

  section.step.disabled
    h3.step-title 2. Create a schedule
    .step-content
      .js-scheduler
