doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/spin.css')
    link(rel='stylesheet', href='/main.css')
  body
    include header
    .container.page-content
      block content

    script(src='/main.js')
