:root {
  --schedulerBorderColor: #eee;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font: 18px "GT America web", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f5f5f5;
}


/* GENERIC */

[hidden],
[aria-hidden="true"]{
  display: none;
}

.container {
  max-width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}

.btn {
  background-image: linear-gradient(150deg, #cf3bff, #1675ec);
  color: #fff;
  padding: 16px 24px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: filter .25s ease;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn.greyed-out {
  filter: grayscale(1);
}

/* STEPS */
.step {
  position: relative;
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  margin-top: 32px;
  box-shadow: 0 4px 10px rgba(0,0,0,.05);
}

.step.disabled {
  pointer-events: none;
  opacity: .5;
}

.step.completed {
  opacity: .5;
}

.step.completed:after {
  content: "✔";
  color: #1fcc03;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.step-title {
  margin: 0;
}

.step-description {
  font-size: 16px;
  color: #999;
  line-height: 24px;
}

/* SCHEDULER */
.scheduler {

}

/* SPECIFIC */
header {
  background-color: #333;
  padding: 80px 0 20px;
  color: #fff;
}

header .title {
  margin: 0;
}

header .subtitle {
  margin: 8px 0 0;
  font-weight: 500;
  color: #ffffffaa;
}
