:root {
  --schedulerBorderColor: #eee;
  --activeColour: #4399fa;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font: 18px "GT America web", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}


/* GENERIC */

[hidden],
[aria-hidden="true"]{
  display: none;
}

.container {
  max-width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}

.btn {
  background-image: linear-gradient(150deg, #cf3bff, #1675ec);
  color: #fff;
  padding: 16px 24px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: filter .25s ease;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn.greyed-out {
  filter: grayscale(1);
}

input[type="text"] {
  font-size: 16px;
  padding: 8px 32px 8px 12px;
  border: none;
  box-shadow: 0 0 0 1px #aaa;
  border-radius: 3px;
  -webkit-appearance: none;
  user-select: none;
  transition: box-shadow .15s ease;
}

select {
  font-size: 16px;
  padding: 8px 32px 8px 12px;
  background: no-repeat center right 8px/20px url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="768" height="768" viewBox="0 0 768 768"><g/><path d="M223.5 319.5h321L384 480z" fill="#555"/></svg>');
  border: none;
  box-shadow: 0 0 0 1px #aaa;
  border-radius: 3px;
  -webkit-appearance: none;
  user-select: none;
  transition: box-shadow .15s ease;
}

input[type="text"][disabled],
select[disabled] {
  background-color: #fafafa;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--activeColour);
}

/* STEPS */
.step {
  position: relative;
  background: #fff;
  border-radius: 5px;
  margin: 32px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,.05);
}

.step.disabled {
  pointer-events: none;
  opacity: .5;
}

.step.completed {
  opacity: .5;
}

.step.completed:after {
  content: "✔";
  color: #1fcc03;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.step.completed .step-title {
  padding: 24px;
}

.step-title {
  padding: 24px;
}

.step-description {
  font-size: 16px;
  color: #999;
  line-height: 24px;
}

.step-content {
  margin-top: -24px;
}

.step-content.padded {
  padding: 0 24px 24px;
}

/* SPECIFIC */
header {
  background-color: #333;
  padding: 80px 0 20px;
  color: #fff;
}

header .title {
  margin: 0;
}

header .subtitle {
  margin: 8px 0 0;
  font-weight: 500;
  color: #ffffffaa;
}

/* Fix datepicker */
.react-datepicker__time-list {
  padding-left: 0
}
